

<header class="header-area ">
  <div class="container">
    <div class="header-top-area header-top-border17">
      <div class="row">
        <div class="col-lg-5 col-md-8 col-12">
          <div class="language-currency-wrap">
            <div class="same-language-currency language-style">
            </div>
          </div>
        </div>



        <div class="col-lg-2 d-none d-lg-block">
          <div class="text-center">
            <a routerLink="/" class="link-no-underline">
              <h1 style="color: black;">Sogevet</h1>
            </a>
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-12">
          <div class="header-right-wrap">

            <div class="same-style account-setting">
              <a class="account-setting-active"><i class="pe-7s-user-female"></i></a>
              <div>
                <!-- un ng if pour les liens-->
                <ul>
                  <li><a routerLink="/login" class="text-black-50 text-decoration-none">Se connecter</a></li>
                  <li><a routerLink="/login/register" class="text-black-50 text-decoration-none">Créer un compte</a></li>
                  <li><a routerLink="/account" class="text-black-50 text-decoration-none">Mon compte</a></li>
                  <li><a routerLink="/account/orders" class="text-black-50 text-decoration-none">Mes commandes</a></li>
                </ul>
              </div>
            </div>
            <div class="same-style cart-wrap">
              <button class="icon-cart"  routerLink="/cart">
                <i class="pe-7s-shopbag"></i>
              </button>
            </div>
            <div class="same-style cart-wrap"><!--LOGOUT-->
              <button (click)="logout()">
                <i class="pe-7s-shopbag"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom sticky-bar header-res-padding header-padding-2">
    <div class="container">
      <div class="row">
        <div class="col-12 d-block d-lg-none">
        </div>

        <div class="col-xl-12 col-lg-12 d-none d-lg-block">
          <div class="main-menu">
            <nav>
              <ul>
                <li>
                  <a routerLink="/products"> Tout voir <i class=""></i> </a>
                </li>
                <li><a routerLink="/products/filter/men">Hommes</a></li>
                <li>
                  <a routerLink="/products/filter/women">Femmes<i class=""></i></a>
                </li>
                <li>
                  <a routerLink="/products/filter/child">Enfants <i class=""></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--
<div class="slider-banner-area">
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-lg-8 col-md-12">
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="row">
          <div class="col-lg-12 col-md-6 col-sm-6">
          </div>
          <div class="col-lg-12 col-md-6 col-sm-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
