<div>
  <div class="product-wrap-2 mb-25">

      <div class="product-img">
      <a  class="text-decoration-none" [routerLink]="['/products', product!.id  ]">
        <div *ngFor="let image of product!.images; let i = index" >
          <img *ngIf="i === 0" class="default-img" src={{image}} alt="">
          <img *ngIf="i !== 0" class="hover-img" src={{image}} alt="">
        </div>
      </a>
      
      <span class="purple">New</span>
      <!--<div class="product-action-2">
    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
    <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
  </div>-->
    </div>
      <div class="product-content-2">
        <div class="title-price-wrap-2">
          <h3><a class="text-decoration-none" [routerLink]="['/products', product!.id  ]">{{product!.name}}</a></h3>
          <div class="price-2">
            <span>{{product!.unitPrice}} €</span>
          </div>
        </div>
        <!--<div class="pro-wishlist-2">
    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
  </div>-->
      </div>
    </div>
  </div>
