<div class="navigation">
  <button type="button" class="btn btn-secondary" routerLink="/">Retour</button>
</div>

<div class="container">
  <h2>Création de compte</h2>
  <form>
    <div class="form-group">
      <label for="firstName" class="form-label">Prénom</label>
      <input type="text" class="form-control" id="firstName" #firstName>
    </div>
    <div class="form-group">
      <label for="lastName" class="form-label">Nom</label>
      <input type="text" class="form-control" id="lastName" #lastName>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" #email>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Mot de passe</l
