<!--Div best seller-->
<div class="product-area pt-100 pb-95">
  <div class="container">
    <div class="section-title-5 mb-60 text-center">
      <h2>New Products</h2>
    </div>
    <div class="product-slider-active-2 owl-carousel">
      <div class="product-wrap-2">
        <div class="product-img">
          <a href="product-details.html">
            <img class="default-img" src="assets/img/product/pro-1.webp" alt="">
            <img class="hover-img" src="assets/img/product/pro-1.webp" alt="">
          </a>
          <span class="purple">New</span>
          <!--<div class="product-action-2">
            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
            <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
          </div>-->
        </div>
        <div class="product-content-2">
          <div class="title-price-wrap-2">
            <h3><a href="product-details.html"> Freelancing Guide</a></h3>
            <div class="price-2">
              <span>$ 60.00</span>
            </div>
          </div>
          <div class="pro-wishlist-2">
            <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
          </div>
        </div>
      </div>
      <div class="product-wrap-2">
        <div class="product-img">
          <a href="product-details.html">
            <img class="default-img" src="assets/img/product/pro-2.webp" alt="">
            <img class="hover-img" src="assets/img/product/pro-2.webp" alt="">
          </a>
          <span class="purple">New</span>
          <!--<div class="product-action-2">
            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
            <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
          </div>-->
        </div>
        <div class="product-content-2">
          <div class="title-price-wrap-2">
            <h3><a href="product-details.html">Custard Apple</a></h3>
            <div class="price-2">
              <span>$ 40.00</span>
            </div>
          </div>
          <div class="pro-wishlist-2">
            <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
          </div>
        </div>
      </div>
      <div class="product-wrap-2">
        <div class="product-img">
          <a href="product-details.html">
            <img class="default-img" src="assets/img/product/pro-3.webp" alt="">
            <img class="hover-img" src="assets/img/product/pro-3.webp" alt="">
          </a>
          <span class="purple">New</span>
          <!--<div class="product-action-2">
            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
            <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
          </div>-->
        </div>
        <div class="product-content-2">
          <div class="title-price-wrap-2">
            <h3><a href="product-details.html">We Are Going Down</a></h3>
            <div class="price-2">
              <span>$ 70.00</span>
            </div>
          </div>
          <div class="pro-wishlist-2">
            <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
          </div>
        </div>
      </div>
      <div class="product-wrap-2">
        <div class="product-img">
          <a href="product-details.html">
            <img class="default-img" src="assets/img/product/pro-4.webp" alt="">
            <img class="hover-img" src="assets/img/product/pro-4.webp" alt="">
          </a>
          <span class="purple">New</span>
          <!--<div class="product-action-2">
            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
            <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
          </div>-->
        </div>
        <div class="product-content-2">
          <div class="title-price-wrap-2">
            <h3><a href="product-details.html">History of Moon</a></h3>
            <div class="price-2">
              <span>$ 30.00</span>
            </div>
          </div>
          <div class="pro-wishlist-2">
            <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
