

.product-description {
  width: 100%;
  text-align: left;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10%;
}

.product-img img {
    height: 600px;
    object-fit: cover;
}

.product-details {
    text-align : left;
}


.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}
